@import "../../css/mixin.scss";

.k-checkbox {
  color: #606266;
  font-weight: 500;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 14px;
  margin-right: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.k-checkbox--input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  .k-checkbox--inner {
    border: 1px solid #dcdfe6;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    &:after {
      box-sizing: content-box;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform .15s ease-in .05s;
      transform-origin: center;
    }
  }
  &.is-checked {
    .k-checkbox--inner {
      border-color: $theme-color;
      background: $theme-color;
      &:after {
        transform: rotate(45deg) scaleY(1);
      }
    }
  }
  &.is-disabled {
    .k-checkbox--inner {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      cursor: not-allowed;
    }
    &+span {
      &.k-checkbox--label {
        color: #c0c4cc;
        cursor: not-allowed;
      }
    }
    &.is-checked {
      .k-checkbox--inner {
        background-color: #f2f6fc;
        border-color: #dcdfe6;
        &:after {
          border-color: #c0c4cc;
        }
      }
    }
  }
}

.k-checkbox--label {
  font-size: 14px;
  padding-left: 10px;
  &.is-checked {
    color: $theme-color;
  }
}

.k-checkbox--original {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
