@import "../../iconfont/iconfont.css";

[class*=" k-icon-"], [class^=k-icon-] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.k-icon-return:before {
  content: "\e720";
}

.k-icon-translation_fill:before {
  content: "\e737";
}

.k-icon-translation:before {
  content: "\e738";
}

.k-icon-trash:before {
  content: "\e739";
}

.k-icon-trash_fill:before {
  content: "\e73a";
}

.k-icon-search:before {
  content: "\e741";
}

.k-icon-packup:before {
  content: "\e749";
}

.k-icon-unfold:before {
  content: "\e74a";
}

.k-icon-accessory:before {
  content: "\e6dd";
}

.k-icon-activity:before {
  content: "\e6de";
}

.k-icon-activity_fill:before {
  content: "\e6df";
}

.k-icon-add:before {
  content: "\e6e0";
}

.k-icon-addition_fill:before {
  content: "\e6e1";
}

.k-icon-addition:before {
  content: "\e6e2";
}

.k-icon-addpeople_fill:before {
  content: "\e6e3";
}

.k-icon-addpeople:before {
  content: "\e6e4";
}

.k-icon-browse_fill:before {
  content: "\e6e5";
}

.k-icon-browse:before {
  content: "\e6e6";
}

.k-icon-brush:before {
  content: "\e6e7";
}

.k-icon-brush_fill:before {
  content: "\e6e8";
}

.k-icon-camera_fill:before {
  content: "\e6e9";
}

.k-icon-camera:before {
  content: "\e6ea";
}

.k-icon-clock_fill:before {
  content: "\e6eb";
}

.k-icon-clock:before {
  content: "\e6ec";
}

.k-icon-close:before {
  content: "\e6ed";
}

.k-icon-collection_fill:before {
  content: "\e6ee";
}

.k-icon-collection:before {
  content: "\e6ef";
}

.k-icon-computer_fill:before {
  content: "\e6f0";
}

.k-icon-computer:before {
  content: "\e6f1";
}

.k-icon-coordinates_fill:before {
  content: "\e6f2";
}

.k-icon-coordinates:before {
  content: "\e6f3";
}

.k-icon-delete_fill:before {
  content: "\e6f4";
}

.k-icon-delete:before {
  content: "\e6f5";
}

.k-icon-enter:before {
  content: "\e6f8";
}

.k-icon-feedback_fill:before {
  content: "\e6fa";
}

.k-icon-feedback:before {
  content: "\e6fb";
}

.k-icon-group:before {
  content: "\e6ff";
}

.k-icon-group_fill:before {
  content: "\e700";
}

.k-icon-homepage_fill:before {
  content: "\e702";
}

.k-icon-homepage:before {
  content: "\e703";
}

.k-icon-like_fill:before {
  content: "\e707";
}

.k-icon-like:before {
  content: "\e708";
}

.k-icon-lock_fill:before {
  content: "\e709";
}

.k-icon-lock:before {
  content: "\e70a";
}

.k-icon-mail:before {
  content: "\e70b";
}

.k-icon-mail_fill:before {
  content: "\e70c";
}

.k-icon-message:before {
  content: "\e70d";
}

.k-icon-message_fill:before {
  content: "\e70e";
}

.k-icon-mine:before {
  content: "\e70f";
}

.k-icon-mine_fill:before {
  content: "\e710";
}

.k-icon-mobilephone_fill:before {
  content: "\e711";
}

.k-icon-mobilephone:before {
  content: "\e712";
}

.k-icon-offline_fill:before {
  content: "\e713";
}

.k-icon-offline:before {
  content: "\e714";
}

.k-icon-people_fill:before {
  content: "\e715";
}

.k-icon-people:before {
  content: "\e716";
}

.k-icon-picture_fill:before {
  content: "\e717";
}

.k-icon-picture:before {
  content: "\e718";
}

.k-icon-praise_fill:before {
  content: "\e71a";
}

.k-icon-praise:before {
  content: "\e71b";
}
