@import "../../css/mixin.scss";

.k-radio {
  color: #606266;
  font-weight: 500;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 14px;
  margin-right: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.k-radio--input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  .k-radio--inner {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    &:after {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #fff;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) scale(0);
      transition: transform .15s ease-in;
    }
  }
  &.is-checked {
    .k-radio--inner {
      border-color: $theme-color;
      background: $theme-color;
      &:after {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &.is-disabled {
    .k-radio--inner {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      cursor: not-allowed;
    }
    &+span {
      &.k-radio--label {
        color: #c0c4cc;
        cursor: not-allowed;
      }
    }
  }
}

.k-radio--label {
  font-size: 14px;
  padding-left: 10px;
  &.is-checked {
    color: $theme-color;
  }
}

.k-radio--original {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
